body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Navigation Bar Area(section) style*/
#navigation-bar-area{
    height: 50px;
    padding: 10px 100px 10px 0;
    text-align: right;
    background-color: rgb(230, 230, 230);
    margin-bottom: 30px;
}
.navigation-bar{
    list-style: none;
    text-align: right;
}

.navigation-bar a{
    text-decoration: none;
    color: #3C3C3C;
    font-size: 15px;
    padding: 7px 15px;
    
    border-radius: 5px;
    background-color: white;
}

.navigation-bar li{
    display: inline-block;
    margin-right: 10px;
}

/* Banner Area(section) style*/
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
h1{
    font-size: 50px;
    font-weight: 700;
    color: #363958;
    line-height: 15px;
}
.highlight{
    color: #FF8367;
}
p{
    color:#3E3E3E;
    text-align: justify;
}
.half-width p{
    margin-bottom: 50px;
}
.button{
    text-decoration: none;
    padding: 15px 30px;
    background-image: linear-gradient(130deg,#ff7a5c, #faa693);
    color: white;
    border-radius: 7px;
    box-shadow: 3px 3px 10px rgb(165, 164, 164);
}
section{
    height: 500px;
}

/* About Area(section) style*/
h2{
    font-size: 40px;
    color: #363958;
}

.button .download-icon{
    width: 15px;
}

/* Project Area(section) style*/
#project-area{
    background-color: #ebebeb;
    padding: 4%;
    text-align: center;
    
}
.single-project{
    width: 25%;
    display: inline-block;
    background-color: white;
    margin-left: 2%;
    padding: 1%;
    text-align: start;
    border-radius: 20px;
}
.single-project img{
    width: 100%;
}
h3{
    color: #363958;
}
#project-area h2{
    margin-bottom: 50px;
}

/* Contact Area(section) style*/
#contact-area{
    text-align: center;
    padding: 50px;
    height: 500px;
}
.chat-area h1, .chat-area a{
    display: inline-block;
    margin: 10% 0;
    
}
.chat-area{
    background-image: url("../images/Group_33094_1.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 65%;
    width: 70%;
    margin: auto;
}
.chat-area h1{
    color: white;
}
.chat-area a{
    margin-left: 20%;
}
.socal-media-area h3{
    color: #696871;
    
}
.socal-media-area .email-address{
    text-decoration: none;
    color: #363958;
    font-size: 36px;
    font-weight: bold;
}
.socal-media-link-icons{
    margin-top: 15px;
}
.socal-media-area img{
    width: 30px;
    padding-left: 20px;
}